extends base

block helmet 
  +seo(`${project.name}`, `${note.category} ${project.stack}`,`${project.tags}`, `/${project.slug}`)

block content 
  +header(project.headerBg, 'with-bg')
      .header__text-box 
        h1.heading.heading--primary #{project.name}
        .header__project-infos
          p !{project.type} 
          span.dot
          .flex 
            p !{project.category}
            span.text.tex--md /
            p !{project.stack}
          span.dot
          p !{project.date.split('-')[0]} 
      img(src=`/images/${project.coverImage}`, alt=`${project.name}`).header__img
      
  main.main
    section.section.container
      article.article !{project.content}
      - const projectInfo = {position: project.position, work: `${project.category}, ${project.stack}`, organization: project.organization, year: project.date.split('-')[0], website: project.website}
      +project_footer_card(projectInfo)
    +cta()
    
