mixin logo()
  a(href="/").logo 
    img(src="/images/logo.png" alt="michael logo").logo__img

mixin navList(navlist)

  .nav__list
    each link in navlist 
      - const classname = (url === "/" && link === "home") ? "nav__link nav__link--active" : url === `/${link}` ? "nav__link nav__link--active" : "nav__link"
      a(href=`/${link === 'home' ? '' : link}` class=`${classname}`) #{link}


mixin project(project)
  div(class='project__wrapper' style=`background: ${project.background}`)
    a(href=`/projects/${project.slug}`).project
      .project__info 
        p.project__category #{project.category}
        h3.project__name #{project.name}
      img(data-src=`/images/${project.coverImage}`, alt=`${project.name}` loading="lazy").project__coverImage 

//- class='nav__mobile-btn-icon menu'

mixin navMenuBtn()
  label(for="nav__mobile-btn-input" type="button" class='nav__mobile-btn')
    input.nav__mobile-btn-input#nav__mobile-btn-input(type="checkbox", name="nav__input")
    span.nav__mobile-btn-line

mixin project_footer_card(projectInfos)
  - const positions = projectInfos.position.split(',')
  - const works = projectInfos.work.split(',')
  .project__footer-card
    .card__info
      span.title position 
      h3 
        each postion in positions 
          span !{postion}
    .card__info 
      span.title work
      h3 
        each work in works 
          span !{work}
    .card__info 
      span.title organization 
      h3 !{projectInfos.organization}
    .card__info 
      span.title year 
      h3 !{projectInfos.year}
    .card__info 
      span.title website 
      a.link.no-hvr.light(href=`${projectInfos.website}` target='_blank') !{projectInfos.website.split('/')[2]}

mixin cta()
  section.cta.container
    h2
      span Interested in working
      span together on a project?
    p.text Feel free to 
      a(href="/contact").link contact
      |  me for any project or collaborations.

mixin note(note)
  li.note
    .date 
      - const months = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
      - const [year, month, day] = note.date.split('-'); 
      p.month !{months[+month]}
      p.day !{day}
    .note__content
      a(href=`/notes/${note.slug.toLowerCase()}`) 
        h2 !{note.title}
        p.category !{note.category} 
      p.desc !{note.description}
      if note.coverImage 
        img.cover-img(src=`${note.coverImage}`, alt=`${note.title}`)

mixin share_card(noteInfo)
  .share-card
    h5 Share article 
    .share-card__links 
      a.share-card__link(href="https://x.com" target='_blank')
        svg.share-card__icon(xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 462.799")
          path(fill-rule="nonzero" d="M403.229 0h78.506L310.219 196.04 512 462.799H354.002L230.261 301.007 88.669 462.799h-78.56l183.455-209.683L0 0h161.999l111.856 147.88L403.229 0zm-27.556 415.805h43.505L138.363 44.527h-46.68l283.99 371.278z")
      a.share-card__link(href="https://facebook.com" target='_blank') 
        svg.share-card__icon(xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 509 507.14")
          path(fill-rule="nonzero" d="M509 254.5C509 113.94 395.06 0 254.5 0S0 113.94 0 254.5C0 373.86 82.17 474 193.02 501.51V332.27h-52.48V254.5h52.48v-33.51c0-86.63 39.2-126.78 124.24-126.78 16.13 0 43.95 3.17 55.33 6.33v70.5c-6.01-.63-16.44-.95-29.4-.95-41.73 0-57.86 15.81-57.86 56.91v27.5h83.13l-14.28 77.77h-68.85v174.87C411.35 491.92 509 384.62 509 254.5z")
      a.share-card__link(href="https://linkedin.com" target='_blank') 
        svg.share-card__icon(xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 512")
          path(fill="#fff" d="M474.919 0H38.592C17.72 0 0 16.504 0 36.841V475.14C0 495.496 11.629 512 32.492 512h436.327C489.718 512 512 495.496 512 475.14V36.841C512 16.504 495.809 0 474.919 0zM195.043 195.043h68.928v35.136h.755c10.505-18.945 41.541-38.177 79.921-38.177 73.655 0 94.214 39.108 94.214 111.538v135.321h-73.148V316.883c0-32.427-12.947-60.883-43.227-60.883-36.768 0-54.295 24.889-54.295 65.758v117.103h-73.148V195.043zM73.139 438.861h73.148V195.043H73.139v243.818zm82.289-329.148c0 25.258-20.457 45.715-45.715 45.715-25.258 0-45.715-20.457-45.715-45.715 0-25.258 20.457-45.715 45.715-45.715 25.258 0 45.715 20.457 45.715 45.715z")
      button.share-card__link.copy-btn(data-url="https://linkedin.com") 
        svg.share-card__icon(xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 512 511.999")
          path(d="M476.335 35.664v.001c47.554 47.552 47.552 125.365.002 172.918l-101.729 101.73c-60.027 60.025-162.073 42.413-194.762-32.45 35.888-31.191 53.387-21.102 87.58-6.638 20.128 8.512 43.74 3.955 60.08-12.387l99.375-99.371c21.49-21.493 21.492-56.662 0-78.155-21.489-21.488-56.677-21.472-78.151 0l-71.278 71.28c-23.583-11.337-50.118-14.697-75.453-10.07a121.476 121.476 0 0118.767-24.207l82.651-82.65c47.554-47.551 125.365-47.555 172.918-.001zM35.664 476.334l.001.001c47.554 47.552 125.365 47.552 172.917 0l85.682-85.682a121.496 121.496 0 0019.325-25.157c-27.876 6.951-57.764 4.015-83.932-8.805l-70.192 70.19c-21.472 21.471-56.658 21.492-78.149 0-21.492-21.491-21.493-56.658 0-78.149l99.375-99.376c20.363-20.363 61.002-26.435 91.717 1.688 29.729-3.133 41.275-8.812 59.742-26.493-39.398-69.476-137.607-80.013-194.757-22.863L35.664 303.417c-47.552 47.553-47.552 125.364 0 172.917z")

mixin seo(pageTitle, description, keywords, pageUrl)
  title !{pageTitle}
  meta(name=`${description}` content=`${description}`)
  meta(name="keywords" content=`${keywords}`)
  link(rel="author" href="Michael Otaigbe (Solomon)")
  link(rel="canonical" href=`${host}${pageUrl}`)
  meta(property="og:url" content=`${host}${pageUrl}`)
  meta(property="og:type" content="website")
  meta(property="og:image" content=`${host}/images/coverImage.png`)
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="600")
  meta(property="og:description" content=`${description}`)
  meta(property="og:title" content=`${pageTitle}`)
  meta(property="og:site_name" content="Michky")
  meta(property="og:see_also" content=`${homepageUrl}`)
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:domain" content="michky.xyz")
  meta(name="twitter:url" content=`${host}${pageUrl}`)
  meta(name="twitter:title" content=`${pageTitle}`)
  meta(name="twitter:site" content="@Michky__")
  meta(name="twitter:description" content=`${description}`)
  meta(name="twitter:image" content=`${host}/images/coverImage.png`)
  meta(property="og:image:width" content="1200")
  meta(property="og:image:height" content="600")